## Data Cleaning for Food Inspection,Chicago.

In [ ]:
import csv
food = list(csv.DictReader(open('Food_Inspections.csv')))
len(food)

### Cleaning the Spelling Mistakes in 'DBA Name'

In [ ]:
from collections import Counter

In [ ]:
dba= [row['DBA Name'] for row in food]

In [ ]:
dba = Counter(row['DBA Name'] for row in food) ## counting the no. of unique rows in 'DBA Name' using Counter.

In [ ]:
dba.most_common(10) ## Finding out the more frequent entry in 'DBA Name using most_common.

### Cleaning data for MCDONALDS

In [ ]:
MCD=[row for row in food if row['DBA Name'].startswith('MCDONALD')]

In [ ]:
z=Counter(row['DBA Name'] for row in MCD)
z.most_common(10) ## Below we can see differently spelled MCDONALDS

In [ ]:
DBA=[row for row in food if row['DBA Name']!='']

In [ ]:
len(DBA)

In [ ]:
from collections import Counter
DBA= [ {  **row, 'DBA Name': row['DBA Name'].replace("'","").upper() } for row in DBA] ## Replacing "'" with blank as a part of data cleaning 
DBA1 = Counter(row['DBA Name'] for row in DBA)
DBA1.most_common(10) ## below we can see that "MCDONALD'S" has been changed to "MCDONALDS" and it applies to all other DBA names as well

In [ ]:
DBA= [ {  **row, 'DBA Name': row['DBA Name'].replace("MC DONALDS","MCDONALDS").upper() } for row in DBA] ## Replacing "'" with blank as a part of data cleaning 
DBA1 = Counter(row['DBA Name'] for row in DBA)
DBA1.most_common(10)

In [ ]:
DBA= [ {  **row, 'DBA Name': row['DBA Name'].replace("MCDONALDS RESTAURANT","MCDONALDS").upper() } for row in DBA] ## Replacing "'" with blank as a part of data cleaning 
DBA1 = Counter(row['DBA Name'] for row in DBA)
DBA1.most_common(10)

In [ ]:
DBA= [ {  **row, 'DBA Name': row['DBA Name'].replace("MCDONALDS CORPORATION","MCDONALDS").upper() } for row in DBA] ## Replacing "'" with blank as a part of data cleaning 
DBA1 = Counter(row['DBA Name'] for row in DBA)
DBA1.most_common(10)

In [ ]:
MCD1=[row for row in DBA if row['DBA Name'].startswith('MCDONALD')]
z1=Counter(row['DBA Name'] for row in MCD1 )
z1.most_common(3)

### Cleaning data for SUBWAY.

In [ ]:
SUB=[row for row in DBA if row['DBA Name'].startswith('SUBWAY')]
x=Counter(row['DBA Name'] for row in SUB )
x.most_common(10)

In [ ]:
DBA= [ {  **row, 'DBA Name': row['DBA Name'].replace("SUBWAY SANDWICH","SUBWAY").upper() } for row in DBA]

In [ ]:
DBA= [ {  **row, 'DBA Name': row['DBA Name'].replace("SUBWAY RESTAURANT","SUBWAY").upper() } for row in DBA]

In [ ]:
DBA= [ {  **row, 'DBA Name': row['DBA Name'].replace("SUBWAY SANDWICHES & SALADS","SUBWAY").upper() } for row in DBA]

In [ ]:
DBA= [ {  **row, 'DBA Name': row['DBA Name'].replace("SUBWAYES","SUBWAY").upper() } for row in DBA]

In [ ]:
DBA= [ {  **row, 'DBA Name': row['DBA Name'].replace('SUBWAY & SALAD',"SUBWAY").upper() } for row in DBA]

In [ ]:
DBA= [ {  **row, 'DBA Name': row['DBA Name'].replace('SUBWAYS',"SUBWAY").upper() } for row in DBA]

In [ ]:
DBA= [ {  **row, 'DBA Name': row['DBA Name'].replace('SUBWAY SHOP',"SUBWAY").upper() } for row in DBA]

In [ ]:
SUB=[row for row in DBA if row['DBA Name'].startswith('SUBWAY')]
x=Counter(row['DBA Name'] for row in SUB )
x.most_common(10)

### Cleaning data for DUNKIN DONUTS

In [ ]:
DUN=[row for row in DBA if row['DBA Name'].startswith('DUNKIN DONUTS')]
x=Counter(row['DBA Name'] for row in DUN )
x.most_common(15)

In [ ]:
DBA= [ {  **row, 'DBA Name': row['DBA Name'].replace('DUNKIN DONUTS / BASKIN ROBINS','DUNKIN DONUTS/BASKIN ROBBINS').upper() } for row in DBA]

In [ ]:
DBA= [ {  **row, 'DBA Name': row['DBA Name'].replace('DUNKIN DONUTS/BASKINROBBINS','DUNKIN DONUTS/BASKIN ROBBINS').upper() } for row in DBA]

In [ ]:
DBA= [ {  **row, 'DBA Name': row['DBA Name'].replace('DUNKIN DONUTS/ BASKIN ROBBINS','DUNKIN DONUTS/BASKIN ROBBINS').upper() } for row in DBA]

In [ ]:
DBA= [ {  **row, 'DBA Name': row['DBA Name'].replace('DUNKIN DONUTS INC','DUNKIN DONUTS').upper() } for row in DBA] 
DBA1 = Counter(row['DBA Name'] for row in DBA)

In [ ]:
DBA1.most_common(10)

### Cleaning data for 7-ELEVEN

In [ ]:
ELE=[row for row in DBA if row['DBA Name'].startswith('7-ELEVEN')]
x=Counter(row['DBA Name'] for row in ELE )
x.most_common(10)

In [ ]:
DBA= [ {  **row, 'DBA Name': row['DBA Name'].replace('7-ELEVEN #32889B','7-ELEVEN').upper() } for row in DBA]

In [ ]:
DBA= [ {  **row, 'DBA Name': row['DBA Name'].replace('7-ELEVEN #33921B','7-ELEVEN').upper() } for row in DBA]  
DBA1 = Counter(row['DBA Name'] for row in DBA)

In [ ]:
DBA1.most_common(5)

### Cleaning data for CHIPOTLE MEXICAN GRILL

In [ ]:
CHI=[row for row in DBA if row['DBA Name'].startswith('CHIPOTLE MEXICAN GRILL')]
x=Counter(row['DBA Name'] for row in CHI )
x.most_common(10)

In [ ]:
DBA= [ {  **row, 'DBA Name': row['DBA Name'].replace('CHIPOTLE MEXICAN GRILL #1979','CHIPOTLE MEXICAN GRILL').upper() } for row in DBA]

In [ ]:
DBA= [ {  **row, 'DBA Name': row['DBA Name'].replace('CHIPOTLE MEXICAN GRILL#2768','CHIPOTLE MEXICAN GRILL').upper() } for row in DBA]

In [ ]:
DBA= [ {  **row, 'DBA Name': row['DBA Name'].replace('CHIPOTLE MEXICAN GRILL #2409','CHIPOTLE MEXICAN GRILL').upper() } for row in DBA]  
DBA1 = Counter(row['DBA Name'] for row in DBA)

In [ ]:
DBA1.most_common(10)

### Cleaning the spelling mistakes in 'AKA Name'

In [ ]:
aka = Counter(row['AKA Name'] for row in food)

In [ ]:
aka.most_common(25)

###  Cleaning data for MCDONALDS in AKA Name

In [ ]:
MCD1=[row for row in food if row['AKA Name'].startswith('MCDONALD')]

In [ ]:
z1=Counter(row['AKA Name'] for row in MCD1)
z1.most_common(15)

In [ ]:
DBA= [ {  **row, 'AKA Name': row['AKA Name'].replace("'","").upper() } for row in DBA] ## Replacing "'" with blank as a part of data cleaning 
DBA1 = Counter(row['AKA Name'] for row in DBA)
DBA1.most_common(10) ## below we can see that "MCDONALD'S" has been changed to "MCDONALDS" and it applies to all other AKA names as well

In [ ]:
DBA= [ {  **row, 'AKA Name': row['AKA Name'].replace("MCDONALDS RESTAURANT","MCDONALDS").upper() } for row in DBA]

In [ ]:
DBA= [ {  **row, 'AKA Name': row['AKA Name'].replace("MCDONALD'S RESTAURANT","MCDONALDS").upper() } for row in DBA]

In [ ]:
DBA= [ {  **row, 'AKA Name': row['AKA Name'].replace("MC DONALDS","MCDONALDS").upper() } for row in DBA]

In [ ]:
DBA= [ {  **row, 'AKA Name': row['AKA Name'].replace("MCDONALD'S RESTAURANTS","MCDONALDS").upper() } for row in DBA]  
DBA1 = Counter(row['AKA Name'] for row in DBA)

In [ ]:
DBA1.most_common(10)

### Cleaning the data in SUBWAY in AKA Name

In [ ]:
SUB=[row for row in DBA if row['AKA Name'].startswith('SUBWAY')]
x=Counter(row['AKA Name'] for row in SUB )
x.most_common(10)

In [ ]:
DBA= [ {  **row, 'AKA Name': row['AKA Name'].replace("SUBWAY SANDWICHES","SUBWAY").upper() } for row in DBA]

In [ ]:
DBA= [ {  **row, 'AKA Name': row['AKA Name'].replace('SUBWAY SANDWICH',"SUBWAY").upper() } for row in DBA]

In [ ]:
DBA= [ {  **row, 'AKA Name': row['AKA Name'].replace('SUBWAY SANDWICH & SALAD',"SUBWAY").upper() } for row in DBA]

In [ ]:
DBA= [ {  **row, 'AKA Name': row['AKA Name'].replace('SUBWAY SANDWICHES & SALADS',"SUBWAY").upper() } for row in DBA]

In [ ]:
DBA1 = Counter(row['AKA Name'] for row in DBA)

In [ ]:
DBA1.most_common(5)

### Cleaning the data for DUNKIN DONUTS in AKA Name

In [ ]:
DUN=[row for row in DBA if row['AKA Name'].startswith('DUNKIN')]
x=Counter(row['AKA Name'] for row in DUN )
x.most_common(10)

In [ ]:
DBA1 = Counter(row['AKA Name'] for row in DBA)

In [ ]:
DBA= [ {  **row, 'AKA Name': row['AKA Name'].replace('DUNKIN DONUTS BASKIN ROBBINS','DUNKIN DONUTS/BASKIN ROBBINS').upper() } for row in DBA]

In [ ]:
DBA= [ {  **row, 'AKA Name': row['AKA Name'].replace('DUNKIN DONUTS / BASKIN ROBBINS','DUNKIN DONUTS/BASKIN ROBBINS').upper() } for row in DBA]

In [ ]:
DBA1 = Counter(row['AKA Name'] for row in DBA)

In [ ]:
DBA1.most_common(10)

### Cleaning data for 7-ELEVEN in AKA Name

In [ ]:
ELE=[row for row in DBA if row['AKA Name'].startswith('7-ELEVEN')]
x=Counter(row['AKA Name'] for row in ELE )
x.most_common(10)

In [ ]:
DBA= [ {  **row, 'AKA Name': row['AKA Name'].replace('7-ELEVEN #33725','7-ELEVEN').upper() } for row in DBA]

In [ ]:
DBA= [ {  **row, 'AKA Name': row['AKA Name'].replace('7-ELEVEN #33732A','7-ELEVEN').upper() } for row in DBA]

In [ ]:
DBA1 = Counter(row['AKA Name'] for row in DBA)

In [ ]:
DBA1.most_common(10)

### Cleaning for CHIPOTLE MEXICAN GRILL in AKA Name

In [ ]:
CHI=[row for row in DBA if row['AKA Name'].startswith('CHIPOTLE MEXICAN GRILL')]
x=Counter(row['AKA Name'] for row in CHI )
x.most_common(10)

In [ ]:
DBA= [ {  **row, 'AKA Name': row['AKA Name'].replace('CHIPOTLE MEXICAN GRILL #2923','CHIPOTLE MEXICAN GRILL').upper() } for row in DBA]

In [ ]:
DBA1 = Counter(row['AKA Name'] for row in DBA)

In [ ]:
DBA1.most_common(10)

### Replacing the 'blank AKA Name' with 'DBA Name'

In [ ]:
AKA=[row for row in DBA if row['AKA Name']=='']
DBA1 = Counter(row['AKA Name'] for row in AKA)
DBA1.most_common() ## there are few blank spaces in AKA Names which can be replaced with DBA Name

In [ ]:
for row in AKA:
    row['AKA Name']=row['DBA Name']

In [ ]:
AKA=[row for row in DBA if row['AKA Name']=='']
DBA1 = Counter(row['AKA Name'] for row in AKA)
DBA1.most_common()## All the blank spaces are been replaced with the DBA Name

### Cleaning the data in License number Column

In [ ]:
Li=[row for row in DBA if row['License #']=='']
DBA1 = Counter(row['License #'] for row in Li)
DBA1.most_common() ## there are few blank spaces in License # which can be replaced with 'No License'

In [ ]:
for row in Li:
    row['License #']='No License' 
## replacing the blank space with 'No License' because for "Facility Type":Special Event and 
##Church, License number will not be provided,

In [ ]:
Li=[row for row in DBA if row['License #']=='']
DBA1 = Counter(row['License #'] for row in Li)
DBA1.most_common()

### Cleaning the data in Risk Type Column

In [ ]:
Ri=[row for row in DBA if row['Risk']=='']
DBA1 = Counter(row['Risk'] for row in Ri)
DBA1.most_common() ## there are few blank spaces in Risk Type which can be replaced with 'Risk not given'

In [ ]:
for row in Ri:
    row['Risk']='Risk not given'

In [ ]:
Ri=[row for row in DBA if row['Risk']=='']
DBA1 = Counter(row['Risk'] for row in Ri)
DBA1.most_common()

### Cleaning the data in City Column

In [ ]:
city=[row for row in DBA if row['City']=='']
## there are few blank spaces in City column which can be replaced with 'Not given'

In [ ]:
len(city)

In [ ]:
for row in city:
    row['City']='Not given'

In [ ]:
city=[row for row in DBA if row['City']=='']
len(city)

In [ ]:
ccity=[row['City'] for row in DBA]
ccity1= Counter(ccity)
ccity1.most_common(10)
# there are few spelling mistakes for the city CHICAGO.So replacing all the misspelt spelling with CHICAGO

In [ ]:
DBA= [ {  **row, 'City': row['City'].replace('CCHICAGO','CHICAGO').upper() } for row in DBA]
ccity=[row['City'] for row in DBA]
ccity1= Counter(ccity)
ccity1.most_common(10)

In [ ]:
DBA= [ {  **row, 'City': row['City'].replace('312CHICAGO','CHICAGO').upper() } for row in DBA]

In [ ]:
DBA= [ {  **row, 'City': row['City'].replace('CHCHICAGO','CHICAGO').upper() } for row in DBA]

In [ ]:
DBA= [ {  **row, 'City': row['City'].replace('CHCICAGO','CHICAGO').upper() } for row in DBA]

In [ ]:
DBA= [ {  **row, 'City': row['City'].replace('CHICAGO HEIGHTS','CHICAGO').upper() } for row in DBA]

In [ ]:
DBA= [ {  **row, 'City': row['City'].replace('CHICAGOI','CHICAGO').upper() } for row in DBA]

In [ ]:
DBA= [ {  **row, 'City': row['City'].replace('CCHICAGO','CHICAGO').upper() } for row in DBA]

In [ ]:
DBA= [ {  **row, 'City': row['City'].replace('CHICAGOCHICAGO','CHICAGO').upper() } for row in DBA]

In [ ]:
ccity=[row['City'] for row in DBA]
ccity1= Counter(ccity)
ccity1.most_common(15)

### Cleaning the data in State Column

In [ ]:
State = Counter(row['State'] for row in DBA)

In [ ]:
State.most_common() ## since all the entries in state column is Illinois and the data is redundant
## Removing the complete column using delete command.

In [ ]:
for row in DBA:
    del (row['State'])

In [ ]:
DBA[0].keys()

### Cleaning the data in Latitude and Longitude Column

In [ ]:
## Since Latitude and Longitude has the same entry as Location, deleting Latitude and longitude columns

In [ ]:
for row in DBA:
    del (row['Latitude'])

In [ ]:
for row in DBA:
    del (row['Longitude'])

In [ ]:
DBA[0].keys()

In [ ]:
DBA[3]

### Cleaning the data in Location Column

In [ ]:
Location=[row for row in DBA if row['Location']=='']
## there are few blank spaces in Location column which can be replaced with 'Not given'

In [ ]:
z=Counter(row['Location'] for row in Location)
z.most_common(15)

In [ ]:
for row in Location:
    row['Location']='Not given'

In [ ]:
z=Counter(row['Location'] for row in Location)
z.most_common()

### Cleaning the data in Inspection Type Column

In [ ]:
Insp=[row for row in DBA if row['Inspection Type']=='']
Insp1 = Counter(row['Inspection Type'] for row in Insp)
Insp1.most_common()
## there are few blank spaces in Inspection Type column which can be replaced with 'Not given'

In [ ]:
for row in DBA:
    if (row['Inspection Type']==""):
        row['Inspection Type']='Not given'

In [ ]:
Insp = Counter(row['Inspection Type'] for row in DBA)
Insp.most_common()

### Cleaning the data in Facility Type Column

In [ ]:
Fac=[row for row in DBA if row['Facility Type']=='']
Fac1 = Counter(row['Facility Type'] for row in Fac)
Fac1.most_common()
## there are few blank spaces in Facility column which can be replaced with 'Not given'

In [ ]:
for row in DBA:
        if (row['Facility Type']==""):
            row['Facility Type']= "Not given"

In [ ]:
Fac1 = Counter(row['Facility Type'] for row in DBA)
Fac1.most_common(5)

### Cleaning the data in Violations Column

In [ ]:
Vio=[row for row in DBA if row['Violations']=='']
Vio = Counter(row['Violations'] for row in Vio)
Vio.most_common()
## there are few blank spaces in Violations column which can be replaced with 'Not given'

In [ ]:
for row in DBA:
        if (row['Violations']==""):
            row['Violations']= "Not given"

In [ ]:
Vio = Counter(row['Violations'] for row in DBA)
Vio.most_common(1)

### Cleaning the data in Zip column

In [ ]:
Zip=[row for row in DBA if row['Zip']=='']
Zip = Counter(row['Zip'] for row in Zip)
Zip.most_common()
## there are few blank spaces in Zip column which can be replaced with 'Not given'

In [ ]:
for row in DBA:
        if (row['Zip']==""):
            row['Zip']= "Not given"

In [ ]:
Zip1 = Counter(row['Zip'] for row in DBA)
Zip1.most_common()

### Transferring the data into excel sheet

In [ ]:
with open('Assignment1KavyaN.csv', "w") as outf:
    out_csv = csv.DictWriter(outf, list(DBA[0].keys())) 
    out_csv.writeheader()
    out_csv.writerows(DBA)